<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
   <system>
       <tab id="tejas" translate="label" sortOrder="10">
           <label>Tejas Here!</label>
       </tab>
       <section id="form" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
           <class>separator-top</class>
           <label>Form</label>
           <tab>tejas</tab>
           <resource>Tejas_Mymodule::config</resource>
           <group id="form1" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">

               <label>My Custom Form</label>

               <field id="isActive" translate="label comment" type="select" sortOrder="25" showInDefault="1"  showInWebsite="1" showInStore="1">
                   <label>You Want To See My Custom Form?</label>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field>
           </group>
       </section>
   </system>
</config>